*.pyc
*.log
.DS_Store
MANIFEST.in
dist/
docs/.DS_Store
docs/build/
pysimplelog.egg-info/i
*.pyc
*.pyd
*.so
*.o
*.c
*.cpp
*.log
*.DS_Store
*__pycache__
MANIFEST.in
*.stc
*.dft
*.rmc
*.log

# sub packages
/docs/build
/docs/_build
.idea
